name: ci

on:
  push:
    paths:
      - src/**
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: set commit id
        shell: bash
        run: |
          echo "COMMIT_ID=${GITHUB_SHA::6}" >> "$GITHUB_ENV"
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: limbuhimal/python-app:${{ env.COMMIT_ID }}

  cd:
    runs-on: self-hosted
    needs: ci
    steps:
      - name: Install ArgoCD CLI
        shell: bash
        run: |
          curl -ksSL https://argocd-server.argocd/download/argocd-linux-amd64 -o argocd
          chmod +x argocd
          sudo mv argocd /usr/local/bin/argocd
      -
        name: ArgoCD app sync
        shell: bash
        run: |
          argocd login argocd-server.argocd \
          --insecure \
          --grpc-web \
          --username admin \
          --password $${{ secrets.ARGOCD_PW }}
      -
        name: Sync Application
        shell: bash
        run: |
          argocd app sync python-app
      